@import '../include_helpers';

.welcome {
  padding-top: 3.3rem;
  padding-bottom: 4.5rem;

  h5, p {
    color: $brand-smoke
  }

  &-content {
    padding-bottom: 4rem;

    &-copy {
      margin-top: 3.6rem;
      margin-bottom: 2.6rem;
    }
  }

  &-side {
    position: relative;
    &-inner {
      min-height: 30rem;
    }
  }

  &-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}