@import '../include_helpers';

.portfolio {
  padding-bottom: 5rem;

  &-row {
    &-header {
      background: $brand-primary;
      min-height: 16.5rem;
      text-align: center;
      align-items: center;
    }
  }

  &-gallery {
    &-item {
      min-height: 20rem;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s;
        height: 100%;
        width: 100%;
        padding: 1rem;
        h5, p, a {
          color: #fff;
        }
        &:hover {
          opacity: 1;
          transition: .3s;
          background: rgba(0,0,0,0.7);
        }
      }
      @media (max-width: 600px){
        min-height: 30rem;
      }
    }
  }

  &-seemore {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}